body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

#task-list {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
